$border-radius: 5px;
$header-indentation: 25px;
$content-indentation: 90px;
$footer-indentation: 70px;
$vertical-spacing: 50px;
$global-max-page-width: 1440px;
$global-min-page-width: 1263px;
$box-shadow: toRem(0px 4px 4px) rgba(0, 0, 0, 0.1);
$card-gap: toRem(30px);
