@import "../../styles/index.scss";

.footer {
  background-color: var(--color-primary);
  margin-top: toRem(30px);

  &__constraint {
    max-width: $global-max-page-width;
    margin: 0 auto;
  }

  &__upper {
    top: toRem(-30px);
  }

  &__navigation {
    display: flex;
    margin: toRem(30px 0px 0px 70px);
    padding-bottom: toRem(50px);

    > * + * {
      margin-left: toRem(70px);
    }
  }
}
